In [53]:
# importar a biblioteca pandas
import pandas as pd


#ler o arquivo em csv
df = pd.read_csv('/Users/kaique/Documents/vscode_python/lego_sets/lego_sets.csv')

themes = pd.read_csv('lego_sets/themes.csv')

parent_themes = pd.read_csv('lego_sets/parent_themes.csv')

sets = pd.read_csv('lego_sets/sets.csv')

In [2]:
sets.head()

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [3]:
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0
3   4  Expert Builder        1.0
4   5           Model        1.0

In [4]:
#retorna apenas os temas licenciado
temas_licenciado = parent_themes[parent_themes['is_licensed'] == True]
temas_licenciado.head()

     id                      name  is_licensed
7   158                 Star Wars         True
12  246              Harry Potter         True
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True

In [5]:
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [15]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [54]:
merged = df.merge(parent_themes, left_on='parent_theme', right_on='name')
merged.drop(columns= 'name_y', inplace= True)
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [55]:
# retorna apenas as licensed = true
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset=['set_num'])
licensed.head()

# filtra o df licensed por star wars
stars_wars_a = licensed[licensed['parent_theme'] == 'Star Wars']

stars_wars_a.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [59]:
licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1
licensed_sorted.head()

summed_df = licensed_sorted.groupby(['year','parent_theme']).sum().reset_index()

max_df = summed_df.sort_values('count',ascending = False).drop_duplicates(['year'])

max_df.sort_values('year', inplace=True)
max_df

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7140-17141-17150-17151-17110-17101-17121-17130...,X-wing FighterNaboo FighterTIE Fighter & Y-win...,1384.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2054,13,13
2,2000,Star Wars,8000-18002-17115-13342-13341-17144-17124-17134...,Pit Droid™ / Star Wars Pit DroidDestroyer Droi...,2580.0,Star WarsStar WarsStar Wars Episode 1Star Wars...,4108,26,26
4,2001,Star Wars,8008-17146-17126-17127-17106-165034-165030-165...,Stormtrooper™TIE FighterBattle Droid CarrierIm...,2949.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,2212,14,14
6,2002,Star Wars,4195641-165153-165106-17103-17203-17204-17133-...,Star Wars Co-Pack of 7142 and 7152Jango Fett's...,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4424,28,28
9,2003,Star Wars,4501-14482-14481-14480-14500-1K4479-1K4487-144...,"Mos Eisley Cantina, Blue boxAT-TEHailfire Droi...",6660.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,5056,32,32
12,2004,Star Wars,10131-110134-16964-26963-17262-16964-16963-269...,TIE Fighter CollectionY-wing Attack Starfighte...,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
16,2005,Star Wars,7250-17258-17257-17256-17252-17255-16966-16965...,Clone Scout WalkerWookiee AttackUltimate Light...,4730.0,Star Wars Episode 3Star Wars Episode 3Star War...,4424,28,28
20,2006,Star Wars,6205-16210-16206-16207-110175-17261-26212-1621...,V-wing FighterJabba's Sail BargeTIE Intercepto...,2769.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,1738,11,11
24,2007,Star Wars,7660-17661-17657-110179-17665-17666-17662-1766...,Naboo N-1 Starfighter and Vulture DroidJedi St...,11361.0,Star Wars Episode 1Star Wars Episode 3Star War...,2528,16,16
28,2008,Star Wars,10188-110186-17680-17679-17678-17676-17681-176...,Death StarGeneral GrievousThe Twilight - Limit...,6865.0,Star Wars Episode 4/5/6Star Wars Episode 3Star...,3634,23,23
32,2009,Star Wars,20009-120007-120010-17749-17748-1comcon007-1co...,AT-TE Walker - MiniRepublic Attack Cruiser - M...,3953.0,Star Wars Episode 2Star Wars Episode 3Star War...,6162,39,39
36,2010,Star Wars,20016-12853835-18128-130050-18129-18086-18085-...,Imperial Shuttle - MiniWhite Boba Fett FigureC...,6003.0,Star Wars Episode 4/5/6Star WarsStar Wars Clon...,4740,30,30
42,2011,Star Wars,10221-15000067-120021-120019-17957-166396-1663...,Super Star DestroyerStar Wars Sith KitBounty H...,3451.0,Star Wars Episode 4/5/6Star WarsStar Wars Clon...,5056,32,32
47,2012,Star Wars,9494-19675-19676-19677-19678-19679-110225-1102...,Anakin's Jedi InterceptorSebulba's Podracer & ...,6769.0,Star Wars Episode 3Star Wars Episode 1Star War...,6794,43,43
52,2013,Star Wars,10240-1comcon032-175007-166449-15001709-150016...,Red Five X-Wing StarfighterJEK-14 Mini Stealth...,6159.0,Star Wars Episode 4/5/6Star WarsStar WarsStar ...,5530,35,35
59,2014,Star Wars,75024-166515-166514-166512-1TRUXWINGTIE-150021...,HH-87 StarhopperStar Wars Microfighters Super ...,8293.0,Star Wars Clone WarsMiniMiniStar Wars RebelsSt...,7110,45,45
67,2015,Star Wars,5002939-15002938-175099-175096-1celeb2015-1751...,The PhantomStormtrooper SergeantRey's Speeder™...,11410.0,Star Wars RebelsStar WarsStar WarsStar Wars Ep...,9164,58,58
76,2016,Star Wars,SW911617-1SW911608-111912-175118-175119-175120...,Palpatine's ShuttleLandspeederLEGO Star Wars: ...,6934.0,Star WarsStar Wars Episode 4/5/6Star WarsStar ...,9638,61,61
82,2017,Super Heroes,76082-176072-171017-1830612-130607-130546-1305...,ATM Heist BattleMighty Micros: Iron Man vs. Th...,13123.0,MarvelSuper HeroesBatmanBatmanBatmanSuper Hero...,34704,72,72

In [57]:
comparacao = int(stars_wars_a.shape[0]/licensed.shape[0]*100)
print(comparacao)

51

In [35]:
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [58]:
merged[merged['set_num'].isnull()]

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
11833,NaN,NaN,2017,347.0,NaN,Disney Princess,579,True
11834,NaN,NaN,2016,70.0,NaN,Disney Princess,579,True
11835,NaN,NaN,2016,NaN,NaN,Disney Princess,579,True
11836,NaN,NaN,2017,304.0,NaN,Super Heroes,482,True
11837,NaN,NaN,2017,196.0,NaN,Super Heroes,482,True
...,...,...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
11982,NaN,NaN,2006,NaN,NaN,Super Heroes,482,True
11983,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
11984,NaN,NaN,2017,8.0,NaN,Super Heroes,482,True
11985,NaN,NaN,2003,NaN,NaN,Harry Potter,246,True

In [7]:

#join entre a tabela df e temas_licenciado para retornar a coluna is_license na tabela df
licensed_lego_sets = df.merge(temas_licenciado, left_on='parent_theme', right_on='name')
licensed_lego_sets.head(10)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True
1,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
2,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
3,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
4,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,Super Heroes,True
5,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
6,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
7,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
8,10132-1,Motorized Hogwarts Express,2004,NaN,Harry Potter,Harry Potter,246,Harry Potter,True
9,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True

In [8]:
#filtra o df licensed_lego_sets['name_y'] por Star Wars'
filtrar_stars_wars = licensed_lego_sets[licensed_lego_sets['name_y'] == 'Star Wars']
filtrar_stars_wars.head(30)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True
1,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
2,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
3,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
5,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
6,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
7,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
9,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
10,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
11,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
12,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
13,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
14,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
15,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
16,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
17,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
18,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,Star Wars,True
19,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
20,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
21,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
23,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
24,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,Star Wars,True
25,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
26,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
28,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
32,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,Star Wars,True
36,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
37,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,Star Wars,True
38,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
39,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True

In [9]:
#validando se as colunas parent_theme e name_y sao iguais
filtrar_stars_wars['par'] = filtrar_stars_wars['parent_theme'] == filtrar_stars_wars['name_y']
filtrar_stars_wars.head(30)

/var/folders/l2/ynd32wzj36vf6_17bh6t4y5r0000gn/T/ipykernel_81040/2101803385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtrar_stars_wars['par'] = filtrar_stars_wars['parent_theme'] == filtrar_stars_wars['name_y']

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed,par
0,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True,True
1,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
2,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True,True
3,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
5,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
6,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
7,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
9,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
10,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
11,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
12,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
13,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
14,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
15,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
16,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,Star Wars,True,True
17,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
18,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,Star Wars,True,True
19,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
20,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
21,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True,True
23,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
24,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,Star Wars,True,True
25,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
26,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
28,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,True
32,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,Star Wars,True,True
36,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,Star Wars,True,True
37,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,Star Wars,True,True
38,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True,True
39,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True,True

In [13]:
#removendo uma coluna
filtrar_stars_wars = filtrar_stars_wars.drop('par', axis=1)
#filtrar_stars_wars = filtrar_stars_wars.drop('name_y', axis=1)

filtrar_stars_wars.head(20)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
1,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
2,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
5,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
6,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
7,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
9,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
10,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
11,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
12,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
13,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
14,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
15,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
16,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
17,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
18,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
19,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
20,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
21,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,True

In [14]:
count_islicensed = filtrar_stars_wars['is_licensed'].value_counts()
print(count_islicensed)

is_licensed
True    609
Name: count, dtype: int64